<div class="container text-center">

  <h1><%= @restaurant.name %></h1>

  <p><%= @restaurant.address %></p>

  <p><%= @restaurant.category %></p>

  <hr>
  <h2>Vos avis</h2>
  <hr>
  <div class="review">
    <% @restaurant.reviews.each_with_index do |review, i| %>
    <% if i.even? %>
      <div style="background-color: #F3DE8A">
        <p><%= '⭐' * review.rating %></p>
        <p><%= review.content %></p>
      </div>
    <% else %>
      <div style="background-color: #F1DB4B">
        <p><%= '⭐' * review.rating %></p>
        <p><%= review.content %></p>
      </div>
    <% end %>

    <hr>

    <% end %>
  </div>

  <%= link_to "Leave a review", reviews_path, class:"btn btn-primary" %>

  <%= link_to "Back to main page", restaurants_path, class:"btn btn-primary" %>

</div>
